article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C""\201D""\2018""\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bss-vcenter {
  overflow: hidden;
  *position: relative;
  display: table;
  *display: block;
}

.bss-vcenter .bss-outer {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  *position: absolute;
  *top: 50%;
}

.bss-vcenter .bss-inner {
  *position: relative;
  *top: -50%;
}

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=ba66d53a-40f3-4afe-9931-cc5880fdb46b");

@font-face {
  font-family: "ITC Century W01 Bold";
  src: url("../fonts/19f404b4-3347-4260-a106-0b27c3fc622c.eot?#iefix");
  src: url("../fonts/19f404b4-3347-4260-a106-0b27c3fc622c.eot?#iefix") format("eot"), url("../fonts/48bc6d9a-821f-4d40-ae05-4023923a5a2e.woff") format("woff"), url("../fonts/087e94de-ca17-4b94-b586-3b488af3d98b.ttf") format("truetype"), url("../fonts/e42959cf-e4aa-48b4-9f48-ebdf50829410.svg#e42959cf-e4aa-48b4-9f48-ebdf50829410") format("svg");
}

@font-face {
  font-family: "ITCCenturyW01-BoldItali";
  src: url("../fonts/08352459-42ab-4204-87aa-2f3079daf975.eot?#iefix");
  src: url("../fonts/08352459-42ab-4204-87aa-2f3079daf975.eot?#iefix") format("eot"), url("../fonts/060880a2-4b46-418e-8407-a628c07cc95a.woff") format("woff"), url("../fonts/0322f412-8351-4812-aed2-42972485f841.ttf") format("truetype"), url("../fonts/86fd7821-ff2b-4e62-934a-6df2c3ec7c18.svg#86fd7821-ff2b-4e62-934a-6df2c3ec7c18") format("svg");
}

@font-face {
  font-family: "ITC Century W01 Book";
  src: url("../fonts/88179ea2-86e8-4284-9f0b-ae5da60c327a.eot?#iefix");
  src: url("../fonts/88179ea2-86e8-4284-9f0b-ae5da60c327a.eot?#iefix") format("eot"), url("../fonts/542ac53f-a0a5-44ac-ac30-822ce4bcbb3a.woff") format("woff"), url("../fonts/12b6113f-0423-452d-9283-39e4cc801e08.ttf") format("truetype"), url("../fonts/4c5c3973-f73f-474c-944e-5277dfd4ec29.svg#4c5c3973-f73f-474c-944e-5277dfd4ec29") format("svg");
}

@font-face {
  font-family: "ITCCenturyW01-BookItali";
  src: url("../fonts/0c1d42b7-4ab2-46fd-a4ed-b84ddc65766e.eot?#iefix");
  src: url("../fonts/0c1d42b7-4ab2-46fd-a4ed-b84ddc65766e.eot?#iefix") format("eot"), url("../fonts/5d75b52c-2805-4443-a810-06af987956f8.woff") format("woff"), url("../fonts/2d052220-a4ff-4132-8302-9060a2c6aee7.ttf") format("truetype"), url("../fonts/1bee3527-0b8c-4ada-afc0-2095c99fe654.svg#1bee3527-0b8c-4ada-afc0-2095c99fe654") format("svg");
}

@font-face {
  font-family: "ITC Century W01 Light";
  src: url("../fonts/9bf2082d-d87c-4169-81bf-39a1812b46fc.eot?#iefix");
  src: url("../fonts/9bf2082d-d87c-4169-81bf-39a1812b46fc.eot?#iefix") format("eot"), url("../fonts/8e55f535-bbe7-4904-b103-e17dfe958407.woff") format("woff"), url("../fonts/80199454-4267-4966-a7b5-91062d583197.ttf") format("truetype"), url("../fonts/789fcbf2-1529-4240-84f0-8b943cafa981.svg#789fcbf2-1529-4240-84f0-8b943cafa981") format("svg");
}

@font-face {
  font-family: "ITCCenturyW01-LightItal";
  src: url("../fonts/4528dd79-4247-4cfb-a36a-9aa88f7d49f9.eot?#iefix");
  src: url("../fonts/4528dd79-4247-4cfb-a36a-9aa88f7d49f9.eot?#iefix") format("eot"), url("../fonts/81d7a258-b831-44ec-aaa3-e45c77500f1d.woff") format("woff"), url("../fonts/c4575f50-a102-4603-a5b8-3ec2cb4e28ef.ttf") format("truetype"), url("../fonts/7417d887-60a6-46e0-9787-065efa743735.svg#7417d887-60a6-46e0-9787-065efa743735") format("svg");
}

.scroll-wrapper {
  position: relative;
  overflow: hidden;
}

.scroll-move-container {
  position: absolute;
}

.scroll-indicator {
  position: absolute;
}

.circle-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.circle-btn.hover.circle-btn-style-dim .circle-btn-icon {
  opacity: 1;
}

.circle-btn.hover.circle-btn-state-disable .circle-btn-icon {
  opacity: 0.2;
}

.circle-btn-icon-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.circle-btn-outline {
  position: absolute;
  display: inline-block;
}

.circle-btn-icon {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  width: 38px;
  height: 38px;
  margin-left: -19px;
  margin-top: -19px;
  -webkit-transition: opacity 0.18s linear;
  -moz-transition: opacity 0.18s linear;
  -ms-transition: opacity 0.18s linear;
  -o-transition: opacity 0.18s linear;
  transition: opacity 0.18s linear;
  background-image: url(../img/ui.png);
  background-repeat: no-repeat;
}

.circle-btn-style-dim .circle-btn-icon,
.circle-btn-state-disable .circle-btn-icon {
  opacity: 0.2;
}

@media (min--moz-device-pixel-ratio:1.3),
(-o-min-device-pixel-ratio:2.6/2),
(-webkit-min-device-pixel-ratio:1.3),
(min-device-pixel-ratio:1.3),
(min-resolution:1.3dppx) {
  .circle-btn-icon {
    background-image: url(../img/ui_x2.png);
    background-size: 400px 400px;
  }
}

.circle-btn.circle-btn-symbol-eye .circle-btn-icon {
  background-position: -70px 0;
}

.circle-btn.circle-btn-symbol-plus .circle-btn-icon {
  background-position: -108px 0;
}

.circle-btn.circle-btn-symbol-facebook .circle-btn-icon {
  background-position: -146px 0;
}

.circle-btn.circle-btn-symbol-instagram .circle-btn-icon {
  background-position: -184px 0;
}

.circle-btn.circle-btn-symbol-local .circle-btn-icon {
  background-position: -222px 0;
}

.circle-btn.circle-btn-symbol-left .circle-btn-icon {
  background-position: -70px -38px;
}

.circle-btn.circle-btn-symbol-right .circle-btn-icon {
  background-position: -108px -38px;
}

.circle-btn.circle-btn-symbol-close .circle-btn-icon {
  background-position: -146px -38px;
}

.circle-btn.circle-btn-symbol-search .circle-btn-icon {
  background-position: -184px -38px;
}

.circle-btn.circle-btn-symbol-add .circle-btn-icon {
  background-position: -222px -38px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  background: black;
  color: white;
  font-family: "ITC Century W01 Book", serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.font-buster {
  position: absolute;
  left: -999px;
  top: -999px;
  width: 1px;
  height: 1px;
}

.ui-asset,
.error-blocker-message:before {
  background-image: url(../img/ui.png);
  background-repeat: no-repeat;
}

@media (min--moz-device-pixel-ratio:1.3),
(-o-min-device-pixel-ratio:2.6/2),
(-webkit-min-device-pixel-ratio:1.3),
(min-device-pixel-ratio:1.3),
(min-resolution:1.3dppx) {
  .ui-asset {
    background-image: url(../img/ui_x2.png);
    background-size: 400px 400px;
  }
}

.font-system {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Sans-Serif;
}

.font-normal {
  font-family: "ITC Century W01 Book", serif;
}

.font-italic {
  font-family: "ITCCenturyW01-BookItali", serif;
}

.font-bold {
  font-family: "ITC Century W01 Bold", serif;
}

.font-bold-italic {
  font-family: "ITCCenturyW01-BoldItali", serif;
}

.font-light {
  font-family: "ITC Century W01 Light", serif;
}

.font-light-italic,
.search-input-placeholder,
.search-input {
  font-family: "ITCCenturyW01-LightItal", serif;
}

.text-shadow {
  position: absolute;
  width: 150px;
  height: 100px;
  background-image: url(../img/ui.png);
  background-repeat: no-repeat;
  background-position: -250px -125px;
}

@media (min--moz-device-pixel-ratio:1.3),
(-o-min-device-pixel-ratio:2.6/2),
(-webkit-min-device-pixel-ratio:1.3),
(min-device-pixel-ratio:1.3),
(min-resolution:1.3dppx) {
  .text-shadow {
    background-image: url(../img/ui_x2.png);
    background-size: 400px 400px;
  }
}

::selection {
  background-color: transparent;
}

::-moz-selection {
  background-color: transparent;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

html.no-js .app,
html.not-support-webgl .app {
  pointer-events: auto;
}

.app.show {
  pointer-events: auto;
}

.base-3d-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

html.no-js .base-3d-container,
html.not-support-webgl .base-3d-container {
  display: none;
}

.sections {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.mouse-blocker {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 9999999;
}

.preloader {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -70px;
}

html.no-js .preloader,
html.not-support-webgl .preloader {
  display: none;
}

.preloader-text {
  width: 100%;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 27px;
  text-align: center;
}

.preloader-text-line {
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.header {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 104px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

html.no-js .header,
html.not-support-webgl .header {
  display: block;
}

@media (min-height:700px) {
  .header {
    height: 140px;
  }
}

.header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale3d(1, 0, 1);
  -moz-transform: scale3d(1, 0, 1);
  -ms-transform: scale3d(1, 0, 1);
  -o-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  background-color: black;
  color: white;
}

.header-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
}

@media (min-height:1280px) {
  .header-content {
    top: 80px;
  }
}

.header-logo {
  position: absolute;
  left: 50px;
  top: 29px;
  width: 266px;
  height: 44px;
}

.header-logo-base {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-position: 0 -356px;
}

.header-logo-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: 0 -356px;
}

@media (min-height:700px) {
  .header-logo {
    top: 46px;
  }
}

.header-description {
  position: absolute;
  text-align: right;
  right: 148px;
  top: 37px;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

@media (min-height:700px) {
  .header-description {
    top: 54px;
  }
}

.header-fade-container {
  position: absolute;
  right: 38px;
  top: 2px;
  width: 100px;
  height: 100px;
  border-radius: 50px 50px;
  border: 1px solid white;
  text-align: center;
}

@media (min-height:700px) {
  .header-fade-container {
    top: 19px;
  }
}

.header-fade-percent {
  position: relative;
  display: inline-block;
  margin-top: 25px;
  padding-right: 12px;
  font-size: 22px;
  line-height: 24px;
}

html.is-mac .header-fade-percent {
  margin-top: 29px;
}

.header-fade-percent-num {
  font-size: 36px;
}

.header-fade-percent-symbol {
  position: absolute;
  right: -6px;
  bottom: 0;
}

.header-fade-percent-text {
  margin-top: -1px;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  font-smooth: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}

.footer {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 104px;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

html.no-js .footer,
html.not-support-webgl .footer {
  display: block;
}

.footer-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale3d(1, 0, 1);
  -moz-transform: scale3d(1, 0, 1);
  -ms-transform: scale3d(1, 0, 1);
  -o-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
}

.footer-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 104px;
}

.footer-content>* {
  float: right;
  text-decoration: none;
  color: white;
}

@media (min-height:1280px) {
  .footer-content {
    bottom: 40px;
  }
}

.footer-logo-wrapper {
  display: block;
  width: 59px;
  height: 69px;
  vertical-align: text-bottom;
  margin-left: 34px;
  margin-right: 50px;
  margin-top: 18px;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.footer-logo-wrapper:hover {
  opacity: 1;
}

.footer-logo {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.footer-sound-btn {
  float: right;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-top: 70px;
  cursor: pointer;
  background-position: -176px -78px;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.footer-sound-btn:hover {
  opacity: 1;
  background-position: -206px -78px;
}

.footer-sound-btn.selected {
  background-position: -206px -78px;
}

.footer-sound-btn.selected:hover {
  background-position: -176px -78px;
}

.footer-share {
  float: right;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-top: 70px;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.footer-share:hover {
  opacity: 1;
}

html.no-js .footer-share,
html.not-support-webgl .footer-share {
  display: none;
}

.footer-share-facebook {
  background-position: 0 -160px;
}

.footer-share-twitter {
  background-position: -30px -160px;
}

.footer-share-gplus {
  background-position: -60px -160px;
}

.footer-link-item {
  opacity: 0.5;
  margin-left: 20px;
  margin-top: 77px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.footer-link-item:hover {
  opacity: 1;
}

@media (min-height:700px) {
  .footer {
    height: 140px;
  }

  .footer-content {
    height: 140px;
  }

  .footer-logo-wrapper {
    margin-top: 48px;
  }

  .footer-share {
    margin-top: 100px;
  }

  .footer-link-item {
    margin-top: 107px;
  }

  .footer-sound-btn {
    margin-top: 100px;
  }
}

.footer-link-lang-text {
  position: relative;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.footer-link-lang-text:after {
  display: inline-block;
  margin-left: 4px;
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid white;
}

.footer-link-lang-list {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  padding-bottom: 16px;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.footer-link-lang:hover .footer-link-lang-list {
  visibility: visible;
  opacity: 1;
}

.footer-link-lang-item {
  display: inline-block;
  width: 100%;
  height: 20px;
  opacity: 0.5;
  white-space: nowrap;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.footer-link-lang-item.selected,
.footer-link-lang-item:hover {
  opacity: 1;
}

.footer-fade-item.footer-link-credits {
  cursor: pointer;
  opacity: 0.5;
}

.footer-fade-item.footer-link-credits:hover {
  opacity: 1;
}

.terms {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: Georgia, serif;
}

.terms * {
  font-family: Georgia, serif;
}

.terms .font-bold {
  font-weight: bold;
}

.terms .font-italic {
  font-style: italic;
}

.terms-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 332px;
  height: 100%;
  background-color: black;
  color: #aaaaaa;
}

.terms-wrapper .scroll-move-container {
  position: absolute;
  left: 41px;
  width: 250px;
}

.terms-wrapper .scroll-indicator-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 11px;
  height: 100%;
  background-color: #262626;
}

.terms-wrapper .scroll-indicator {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: #464646;
}

.terms-close-btn {
  margin-top: 174px;
}

.terms-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 23px;
}

.terms-description {
  font-size: 14px;
  line-height: 23px;
}

.nav {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100px;
  margin-top: -100px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.nav-text {
  position: absolute;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.nav-item:hover .nav-text {
  opacity: 1;
}

.nav-item:hover.has-item .nav-text {
  opacity: 0;
}

.nav-map-wrapper {
  display: block;
  position: relative;
  left: 19px;
  width: 92px;
  height: 92px;
  margin: 12px 0 12px auto;
}

.nav-map-text {
  left: 100px;
  top: 35px;
}

.nav-map-btn {
  display: block;
  width: 92px;
  height: 92px;
}

.nav-search-wrapper {
  position: relative;
  width: 49px;
  height: 46px;
  margin: 12px 0 12px auto;
}

.nav-search-item {
  display: none;
  position: absolute;
  left: 55px;
  top: 12px;
  white-space: nowrap;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.nav-search-item-text {
  padding-right: 18px;
}

.nav-search-item-close-btn {
  position: absolute;
  right: -2px;
  top: 2px;
  width: 16px;
  height: 16px;
  opacity: 0.5;
  background-position: -70px -200px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.nav-search-item-close-btn:hover {
  opacity: 1;
}

.nav-search-item-line {
  line-height: 1px;
  width: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-search-btn {
  display: block;
  width: 49px;
}

.nav-search-btn .circle-btn-icon {
  opacity: 0.5;
}

.nav-search-text {
  left: 55px;
  top: 15px;
}

.nav-add-wrapper {
  position: relative;
  width: 49px;
  height: 46px;
  margin: 12px 0 12px auto;
}

.nav-add-btn {
  display: block;
  width: 49px;
}

.nav-add-btn .circle-btn-icon {
  opacity: 0.5;
}

.nav-add-text {
  left: 55px;
  top: 15px;
}

.search {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.search-center-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 590px;
  margin-left: -295px;
  margin-top: -75px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.search-not-found {
  position: absolute;
  width: 720px;
  left: -65px;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.35);
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translate3d(0, 30px, 0);
  -moz-transform: translate3d(0, 30px, 0);
  -ms-transform: translate3d(0, 30px, 0);
  -o-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.4s linear;
  -moz-transition: -moz-transform 0.4s ease-in-out, opacity 0.4s linear;
  -ms-transition: -ms-transform 0.4s ease-in-out, opacity 0.4s linear;
  -o-transition: -o-transform 0.4s ease-in-out, opacity 0.4s linear;
  transition: transform 0.4s ease-in-out, opacity 0.4s linear;
}

.search.not-found .search-not-found {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.search-input-wrapper {
  position: relative;
  width: 100%;
  height: 115px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.search-input-move-container {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.search.not-found .search-input-move-container {
  opacity: 0;
}

.search-input-dummy {
  position: absolute;
  left: -999px;
  top: -999px;
  white-space: nowrap;
  font-size: 100px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.search-input-placeholder,
.search-input {
  width: 530px;
  height: 115px;
  line-height: 0px;
  letter-spacing: -2px;
  background: transparent;
  padding: 0 0;
  margin: 0 0;
  border: none;
  outline: none;
  white-space: nowrap;
  text-indent: 22px;
  font-size: 100px;
  line-height: 120px;
  color: rgba(255, 255, 255, 0.35);
  -webkit-appearance: none;
}

.search-input {
  position: absolute;
  left: 0;
  top: 0;
}

.search-input::selection {
  background-color: rgba(255, 255, 255, 0.1);
}

.search-input::-moz-selection {
  background-color: rgba(255, 255, 255, 0.1);
}

.search-input::-webkit-selection {
  background-color: rgba(255, 255, 255, 0.1);
}

.search-btn {
  position: absolute;
  right: 8px;
  top: 62px;
  width: 36px;
  height: 36px;
  background-position: 0 -200px;
  cursor: pointer;
  opacity: 0.25;
}

.search-btn:hover {
  opacity: 0.8;
}

.search-line {
  width: 100%;
  height: 3px;
  line-height: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform-origin: 0 center;
  -moz-transform-origin: 0 center;
  -ms-transform-origin: 0 center;
  -o-transform-origin: 0 center;
  transform-origin: 0 center;
}

.search-hints-container {
  width: 100%;
  margin-top: 15px;
  font-size: 19px;
}

.search-hint {
  display: inline-block;
  padding: 3px 3px;
  margin-right: 5px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.25);
}

.search-hint:hover {
  color: rgba(255, 255, 255, 0.8);
}

.error-blocker {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 9999998;
}

.error-blocker-messages-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 340px;
  height: 300px;
  margin-left: -170px;
  margin-top: -150px;
}

.error-blocker-messages-container {
  font-size: 20px;
  line-height: 34px;
}

.error-blocker-message {
  position: relative;
  height: 34px;
  white-space: nowrap;
}

.error-blocker-message:before {
  position: relative;
  display: inline-block;
  top: 5px;
  content: ' ';
  width: 21px;
  height: 24px;
  margin-right: 12px;
  background-position: -95px -130px;
}

.post-2d {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  font-size: 13px;
  line-height: 23px;
  color: #464646;
}

.post-2d-center-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.post-2d-img {
  float: left;
  height: 100%;
  background-color: black;
}

.post-2d-content-wrapper {
  float: left;
  width: 348px;
  height: 100%;
  background-color: black;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.post-2d-content-wrapper .scroll-indicator-wrapper {
  position: absolute;
  right: auto;
  left: 340px;
  top: 0;
  width: 8px;
  height: 100%;
  background-color: #262626;
}

.post-2d-content-wrapper .scroll-indicator {
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: #464646;
}

.post-2d-content {
  left: 44px;
  width: 240px;
  font-family: Georgia, serif;
}

.post-2d-message-wrapper {
  padding-top: 100px;
}

.post-2d-message-prefix {
  display: inline;
  font-weight: bold;
  color: white;
}

.post-2d-message {
  display: inline;
  color: #838383;
}

.post-2d-message div {
  display: inline;
}

.post-2d-message-tag {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.post-2d-message-tag.hover {
  background-color: #404040;
  border-radius: 2px 2px;
  color: black;
}

.post-2d-name {
  margin-top: 18px;
  font-size: 20px;
}

.post-2d-share-container {
  margin-top: 30px;
  line-height: 24px;
  padding-bottom: 40px;
}

.post-2d-share-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: top;
  cursor: pointer;
  opacity: 0.25;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.post-2d-share-btn:hover {
  opacity: 1;
}

.post-2d-share-btn-facebook {
  background-position: 0 -250px;
}

.post-2d-share-btn-twitter {
  background-position: -26px -250px;
}

.post-2d-share-btn-gplus {
  background-position: -52px -250px;
}

.post-2d-content-top {
  position: absolute;
  top: 0;
  width: 340px;
  height: 82px;
  background: black;
}

.post-2d-matched-wrapper {
  display: none;
  position: absolute;
  left: 44px;
  right: 50px;
  bottom: 0;
  font-size: 13px;
  color: #bfbfbf;
}

.post-2d-matched-wrapper>* {
  display: inline;
}

.post-2d-matched-num {
  font-size: 24px;
}

.post-2d-matched-tag {
  padding: 2px 2px;
  background-color: #404040;
  border-radius: 2px 2px;
  color: black;
  font-weight: bold;
}

.post-2d-close-btn {
  position: absolute;
  right: 11px;
  top: 11px;
}

.debug-post-list {
  position: absolute;
  right: 0;
  top: 50%;
  width: 300px;
  height: 360px;
  margin-top: -256px;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.debug-post-list .scroll-wrapper {
  position: relative;
  width: 100%;
  height: 420px;
}

.debug-post-list .scroll-indicator {
  width: 8px;
  background-color: #666666;
}

.debug-post-list-tag {
  width: 100%;
  height: 60px;
  background-color: #060606;
  overflow: hidden;
  font-size: 24px;
  line-height: 60px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.debug-post-list-load-more {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  background-color: #101010;
  color: #333333;
}

.debug-post-list-load-more.is-active {
  color: white;
  cursor: pointer;
}

.debug-post-list-load-more.is-active:hover {
  background-color: #111111;
  color: yellow;
}

.debug-post-list-items-container {
  width: 100%;
  padding: 5px 16px;
  line-height: 40px;
}

.debug-post-list-items-container>* {
  display: inline-block;
  padding: 5px 5px;
  height: 32px;
  line-height: 24px;
  background-color: #222222;
  cursor: pointer;
}

.debug-post-list-items-container>*:hover {
  background-color: #111111;
  color: yellow;
}

.credit {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 17px;
}

.credit-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 332px;
  height: 100%;
  background-color: black;
}

.credit-wrapper .bss-inner {
  position: relative;
}

.credit-close-btn {
  position: absolute;
  left: 40px;
  top: -60px;
}

.credit-title {
  line-height: 32px;
}

.credit-item-img-bbdo {
  display: inline-block;
  width: 180px;
  height: 23px;
  margin-top: 4px;
  margin-bottom: 30px;
  background-position: -215px -250px;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0.4;
}

.credit-item-img-bbdo:hover {
  opacity: 1;
}

.credit-item-img-werkstatt {
  display: inline-block;
  width: 104px;
  height: 88px;
  margin-top: 4px;
  margin-bottom: 30px;
  background-position: -95px -250px;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0.4;
}

.credit-item-img-werkstatt:hover {
  opacity: 1;
}

a.credit-item {
  display: inline-block;
}

a.credit-item-text,
a.credit-item-text:visited,
a.credit-item-text:active {
  display: inline-block;
  text-decoration: none;
  color: white;
}

a.credit-item-text span,
a.credit-item-text:visited span,
a.credit-item-text:active span {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0.4;
}

a.credit-item-text:hover {
  text-decoration: none;
}

a.credit-item-text:hover span {
  opacity: 1;
}

.no-webgl-container {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(../img/static_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 18px;
  line-height: 24px;
}

html.no-js .no-webgl-container,
html.not-support-webgl .no-webgl-container {
  display: table;
}

.no-webgl-container a,
.no-webgl-container a:visited,
.no-webgl-container a:active {
  color: white;
}

.no-webgl-container a:hover {
  color: #dedede;
}

.tutorials {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 19px;
  line-height: 28px;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0;
}

.tutorials-text-shadow {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: 20px;
  -webkit-transform: scale3d(2, 2, 1);
  -moz-transform: scale3d(2, 2, 1);
  -ms-transform: scale3d(2, 2, 1);
  -o-transform: scale3d(2, 2, 1);
  transform: scale3d(2, 2, 1);
}

.tutorial-page {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.tutoral-page-nav {
  opacity: 0;
}

.tutoral-page-zoom {
  opacity: 0;
}

.tutoral-page-click {
  opacity: 0;
}

.tutorial-page-icon {
  display: block;
  width: 160px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
}

.add-steps {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-indicators {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  width: 100%;
  height: 0;
  text-align: center;
  text-indent: -2px;
  pointer-events: none;
}

.add-steps-indicator {
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 12px;
  margin-left: 12px;
  margin-top: -2px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.add-steps-indicator.selected {
  background-color: white;
}

.add-steps-back-btn {
  display: none;
  position: absolute;
  right: 50%;
  top: 50%;
  margin-right: 175px;
  margin-top: -50px;
  width: 200px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 38px;
  -webkit-transform: translate3d(-40px, 0, 0);
  -moz-transform: translate3d(-40px, 0, 0);
  -ms-transform: translate3d(-40px, 0, 0);
  -o-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

.add-steps-back-btn>* {
  float: right;
  margin-left: 18px;
}

.add-steps-validate-btn {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 175px;
  margin-top: -50px;
  width: 200px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 38px;
  -webkit-transform: translate3d(40px, 0, 0);
  -moz-transform: translate3d(40px, 0, 0);
  -ms-transform: translate3d(40px, 0, 0);
  -o-transform: translate3d(40px, 0, 0);
  transform: translate3d(40px, 0, 0);
}

.add-steps-validate-btn>* {
  float: left;
  margin-right: 18px;
}

.add-steps-validate-btn.circle-btn-state-disable {
  color: rgba(255, 255, 255, 0.25);
  cursor: default;
}

.add-steps-add-options {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 290px;
  height: 340px;
  margin-left: -145px;
  margin-top: -165px;
  text-align: center;
  line-height: 27px;
}

.add-steps-add-options-share {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 70px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 27px;
  text-align: center;
  white-space: nowrap;
}

.add-steps-add-options-share>.circle-btn-icon-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.add-steps-add-options-share-text {
  margin-top: 20px;
  display: inline-block;
}

.add-steps-add-options-look {
  display: block;
  margin-top: 160px;
  margin-left: 20px;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
}

.add-steps-add-options-look .circle-btn-icon-wrapper {
  margin-right: 10px;
}

.add-steps-add-options-look-text {
  display: inline-block;
  letter-spacing: 0.5px;
  line-height: 38px;
  padding-right: 40px;
}

.add-steps-upload-methods {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
}

.add-steps-upload-methods-selection-container {
  position: absolute;
  left: -145px;
  top: -180px;
  width: 290px;
  height: 290px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-upload-methods-icons-container {
  position: relative;
  margin-left: 50%;
  margin-top: 104px;
}

.add-steps-upload-methods-icons-container .circle-btn {
  position: absolute;
  top: 0;
  margin-left: -19px;
  margin-top: -19px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-upload-methods-icons-container .circle-btn-symbol-facebook {
  left: -60px;
}

.add-steps-upload-methods-icons-container .circle-btn-symbol-instagram {
  left: 0;
}

.add-steps-upload-methods-icons-container .circle-btn-symbol-local {
  left: 60px;
}

.add-steps-upload-methods-icons-container label {
  cursor: pointer;
}

#local-upload {
  position: absolute;
  -webkit-transform: translate3d(-5000px, -5000px, 0);
  -moz-transform: translate3d(-5000px, -5000px, 0);
  -ms-transform: translate3d(-5000px, -5000px, 0);
  -o-transform: translate3d(-5000px, -5000px, 0);
  transform: translate3d(-5000px, -5000px, 0);
}

.add-steps-upload-methods-texts-container {
  position: relative;
  width: 100%;
  margin-top: 145px;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 26px;
}

.add-steps-upload-methods-text {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.add-steps-upload-methods.is-default .add-steps-upload-methods-text.add-steps-upload-methods-text-default {
  opacity: 1;
}

.add-steps-upload-methods.is-facebook .add-steps-upload-methods-text.add-steps-upload-methods-text-facebook {
  opacity: 1;
}

.add-steps-upload-methods.is-instagram .add-steps-upload-methods-text.add-steps-upload-methods-text-instagram {
  opacity: 1;
}

.add-steps-upload-methods.is-local .add-steps-upload-methods-text.add-steps-upload-methods-text-local {
  opacity: 1;
}

.add-steps-upload-methods-text-size {
  font-size: 14px;
}

.add-steps-upload-methods-loading {
  position: absolute;
  left: -145px;
  top: -47px;
  width: 290px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-upload-methods-album-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 850px;
  height: 510px;
  margin-left: -425px;
  margin-top: -255px;
  background-color: rgba(0, 0, 0, 0.71);
  text-align: left;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-upload-methods-album-header {
  width: 100%;
  height: 30px;
  background-color: #242323;
  font-size: 13px;
  color: white;
}

.add-steps-upload-methods-album-container-title {
  display: none;
  margin-left: 16px;
  height: 30px;
  line-height: 30px;
}

.add-steps-upload-methods-album-container.is-facebook.is-albums .add-steps-upload-methods-album-container-title.add-steps-upload-methods-album-container-title-facebook-albums {
  display: inline;
}

.add-steps-upload-methods-album-container.is-facebook.is-photos .add-steps-upload-methods-album-container-title.add-steps-upload-methods-album-container-title-facebook-photos {
  display: inline;
}

.add-steps-upload-methods-album-container.is-instagram.is-photos .add-steps-upload-methods-album-container-title.add-steps-upload-methods-album-container-title-instagram-photos {
  display: inline;
}

.add-steps-upload-methods-album-close-btn {
  display: none;
  float: right;
  margin-right: 10px;
  margin-top: 12px;
}

.add-steps-upload-methods-items-scroll-wrapper {
  width: 100%;
  height: 420px;
}

.add-steps-upload-methods-items-scroll-wrapper .scroll-indicator {
  right: 3px;
  width: 4px;
  border-radius: 3px;
  background-color: #838890;
}

.add-steps-upload-methods-items-container {
  width: 100%;
}

.add-steps-upload-methods-items-container-inner {
  width: 100%;
  padding: 5px 0 26px 26px;
}

.add-steps-upload-methods-item {
  position: relative;
  float: left;
  width: 197px;
  height: 197px;
  margin-right: 3px;
  margin-bottom: 3px;
  background-color: black;
  border: 1px solid #050505;
  cursor: pointer;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-upload-methods-item-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-color: #f9f9f9;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-upload-methods-item:hover .add-steps-upload-methods-item-image {
  -webkit-filter: blur(2px);
}

.add-steps-upload-methods-item-name-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.add-steps-upload-methods-item:hover .add-steps-upload-methods-item-name-wrapper {
  opacity: 1;
}

.add-steps-upload-methods-item-name {
  width: 100%;
  padding: 0 10px;
  text-align: center;
}

.add-steps-upload-methods-item-tick-container {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  opacity: 0;
  background-position: -95px -85px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(10px, 25px, 0) rotateZ(-45deg);
  -moz-transform: translate3d(10px, 25px, 0) rotateZ(-45deg);
  -ms-transform: translate3d(10px, 25px, 0) rotateZ(-45deg);
  -o-transform: translate3d(10px, 25px, 0) rotateZ(-45deg);
  transform: translate3d(10px, 25px, 0) rotateZ(-45deg);
}

.add-steps-upload-methods-item.is-selected .add-steps-upload-methods-item-tick-container {
  opacity: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-upload-methods-item-tick {
  margin-left: 4px;
  margin-top: -4px;
  width: 0px;
  height: 23px;
  background-position: -135px -85px;
  -webkit-transition: all 0.45s ease-in;
  -moz-transition: all 0.45s ease-in;
  -ms-transition: all 0.45s ease-in;
  -o-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
}

.add-steps-upload-methods-item.is-selected .add-steps-upload-methods-item-tick {
  width: 27px;
}

.add-steps-upload-methods-album-footer {
  width: 100%;
  height: 60px;
  padding-right: 16px;
  background-color: rgba(36, 35, 35, 0.71);
  text-align: right;
}

.add-steps-upload-methods-album-footer-btn {
  display: none;
  height: 33px;
  margin-top: 14px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  cursor: pointer;
  line-height: 33px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.add-steps-upload-methods-album-footer-btn:hover {
  background-color: #222222;
}

.add-steps-upload-methods-album-footer-btn.add-steps-upload-methods-album-footer-btn-album-open,
.add-steps-upload-methods-album-footer-btn.add-steps-upload-methods-album-footer-btn-photo-open {
  cursor: default;
  color: #aaaaaa;
}

.add-steps-upload-methods-album-container.has-selected .add-steps-upload-methods-album-footer-btn.add-steps-upload-methods-album-footer-btn-album-open,
.add-steps-upload-methods-album-container.has-selected .add-steps-upload-methods-album-footer-btn.add-steps-upload-methods-album-footer-btn-photo-open {
  cursor: pointer;
  color: white;
}

.add-steps-upload-methods-album-container.has-selected .add-steps-upload-methods-album-footer-btn.add-steps-upload-methods-album-footer-btn-album-open:hover,
.add-steps-upload-methods-album-container.has-selected .add-steps-upload-methods-album-footer-btn.add-steps-upload-methods-album-footer-btn-photo-open:hover {
  background-color: #222222;
}

.add-steps-upload-methods-album-container.is-albums .add-steps-upload-methods-album-footer-btn.add-steps-upload-methods-album-footer-btn-album-open {
  display: inline-block;
}

.add-steps-upload-methods-album-container.is-photos.is-facebook .add-steps-upload-methods-album-footer-btn.add-steps-upload-methods-album-footer-btn-photo-back {
  display: inline-block;
}

.add-steps-upload-methods-album-container.is-photos .add-steps-upload-methods-album-footer-btn.add-steps-upload-methods-album-footer-btn-photo-open {
  display: inline-block;
}

.add-steps-adjustment {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 290px;
  height: 290px;
  margin-left: -145px;
  margin-top: -180px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-adjustment-center {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-message {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 290px;
  height: 290px;
  margin-left: -145px;
  margin-top: -165px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-message-pen {
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -32px;
  width: 16px;
  height: 16px;
  background-position: -262px 0;
}

.add-steps-message-input-tick-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 0px;
  height: 21px;
}

.add-steps-message-input-tick {
  position: absolute;
  display: inline-block;
  left: 6px;
  top: 3px;
  width: 0;
  height: 16px;
  background-position: -281px 0;
  opacity: 0.25;
  -webkit-transition: opacity 0.2s linear, width 0.2s ease-in-out;
  -moz-transition: opacity 0.2s linear, width 0.2s ease-in-out;
  -ms-transition: opacity 0.2s linear, width 0.2s ease-in-out;
  -o-transition: opacity 0.2s linear, width 0.2s ease-in-out;
  transition: opacity 0.2s linear, width 0.2s ease-in-out;
}

span.add-steps-message-input::selection,
span.add-steps-message-input>*::selection {
  background-color: rgba(255, 255, 255, 0.2);
}

span.add-steps-message-input::-moz-selection,
span.add-steps-message-input>*::-moz-selection {
  background-color: rgba(255, 255, 255, 0.2);
}

div.add-steps-message-name-wrapper,
div.add-steps-message-email-wrapper {
  width: 100%;
  margin-bottom: 18px;
  font-size: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
  outline: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

div.add-steps-message-name-wrapper.focus,
div.add-steps-message-email-wrapper.focus {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
}

div.add-steps-message-name-wrapper .add-steps-message-input,
div.add-steps-message-email-wrapper .add-steps-message-input {
  display: inline-block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  outline: none;
  color: rgba(255, 255, 255, 0.25);
}

div.add-steps-message-name-wrapper.focus .add-steps-message-input-tick,
div.add-steps-message-email-wrapper.focus .add-steps-message-input-tick {
  opacity: 1;
}

div.add-steps-message-name-wrapper.focus .add-steps-message-input,
div.add-steps-message-email-wrapper.focus .add-steps-message-input {
  color: white;
}

div.add-steps-message-name-wrapper.completed .add-steps-message-input-tick,
div.add-steps-message-email-wrapper.completed .add-steps-message-input-tick {
  width: 17px;
}

.add-steps-message-message-wrapper {
  width: 100%;
  height: 178px;
  background-image: linear-gradient(transparent 96%, rgba(255, 255, 255, 0.07) 4%);
  background-size: 1px 23px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-message-message {
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 11px;
  min-height: 100%;
  line-height: 23px;
}

.add-steps-message-message .add-steps-message-message-prefix {
  position: absolute;
  display: inline-block;
}

.add-steps-message-message .add-steps-message-input {
  outline: none;
  width: 100%;
  display: inline-block;
  color: rgba(255, 255, 255, 0.25);
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.add-steps-message-terms {
  margin-top: 30px;
  cursor: pointer;
  font-size: 13px;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-message-terms-i-accept {
  display: inline-block;
  outline: none;
}

.add-steps-message-terms-i-accept.selected .add-steps-message-terms-icon-tick {
  width: 18px;
}

.add-steps-message-terms-icon {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 16px;
  background-position: -301px 0;
}

.add-steps-message-terms-icon-tick {
  display: inline-block;
  width: 0;
  height: 16px;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -ms-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  background-position: -323px 0;
}

.add-steps-message-terms-link {
  text-decoration: underline;
}

.add-steps-message-terms-link:hover {
  color: #dfdfdf;
}

.add-steps-congrats {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 290px;
  margin-left: -250px;
  margin-top: -165px;
  text-align: center;
  line-height: 23px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.add-steps-congrats-title {
  font-size: 21px;
}

.add-steps-congrats-description {
  margin-top: 5px;
  font-size: 16px;
}

.add-steps-congrats-shares-container {
  width: 100%;
  margin-top: 22px;
}

.add-steps-congrats-share {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.add-steps-congrats-share-inner {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -9999px;
  opacity: 0.5;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.add-steps-congrats-share:hover .add-steps-congrats-share-inner {
  opacity: 1;
}

.add-steps-congrats-share-facebook {
  background-position: 0 -100px;
}

.add-steps-congrats-share-facebook .add-steps-congrats-share-inner {
  background-position: 0 -130px;
}

.add-steps-congrats-share-twitter {
  background-position: -30px -100px;
}

.add-steps-congrats-share-twitter .add-steps-congrats-share-inner {
  background-position: -30px -130px;
}

.add-steps-congrats-share-gplus {
  background-position: -60px -100px;
}

.add-steps-congrats-share-gplus .add-steps-congrats-share-inner {
  background-position: -60px -130px;
}